<div class="row">

    <h1>Today's Exercises</h1>
    Current Weight: <input type="number" ng-model="hc.curWeight.weight"/>
    <div class="col-sm-12">
        <h3 ng-bind = hc.todaysRoutine.name></h3>
        <h4>
            Sets: <span ng-bind="hc.todaysRoutine.sets"></span>
            Rest: <span ng-bind="hc.todaysRoutine.rest"></span>
        </h4>
        <div class="col-sm-12">
            <div class="routine row" ng-repeat="routine in hc.todaysRoutine.exercises">
                <div class="routineName col-sm-3" ng-bind="routine.name"></div>
                <div class="routineReps col-sm-3">For each rep: <span ng-bind="routine.reps"></span></div>
                <div class="routineReps col-sm-3">Number of reps: <span ng-bind="routine.rep_num"></span></div>
            </div>
        </div>
        <div class="row">
            <label for="routineNotes">Notes regarding this workout:</label>
            <textarea id="routineNotes" rows="3" class="form-control" ng-model="hc.routineNotes"></textarea>
            <button class="btn btn-primary" ng-click="hc.fRoutine()">Finished!</button>
        </div>
    </div>

</div>
